@import "tailwindcss";

@theme {
  --color-primary: var(--color-lime-950);
  --color-secondary: var(--color-olive-400);
  --color-tercary: var(--color-olive-100);

  --font-sans: 'Clash Grotesk', sans-serif;
  --font-mono: "Geist Mono", monospace;

  --aspect-card: 9 / 14;
}

@utility my-section {
  margin-top: calc(var(--spacing) * 42);
  margin-bottom: calc(var(--spacing) * 42);
}