@import "tailwindcss";

@theme {
  --color-primary: var(--color-lime-950);
  --color-secondary: var(--color-olive-400);
  --color-tercary: var(--color-olive-100);

  --font-sans: 'Clash Grotesk', sans-serif;
  --font-mono: "Geist Mono", monospace;

  --aspect-card: 9 / 14;
}

@utility my-section {
  margin-top: --spacing(8);
  margin-bottom: --spacing(8);

  @variant sm {
    margin-top: --spacing(15);
    margin-bottom: --spacing(15);
  }

  @variant md {
    margin-top: --spacing(30);
    margin-bottom: --spacing(30);
  }

  @variant lg {
    margin-top: --spacing(40);
    margin-bottom: --spacing(40);
  }
}

.debug * {
  outline: 1px solid rgb(168 85 247 / 0.4);
}